html,body {
    height: 100%;
    margin: 0px;
    background:#363333;
    overflow: hidden;
  font-family: "source-code-pro", monospace;

}

.svgArea{
    box-sizing: border-box;
    border-style:solid;
    border-width: 1px;
    border-color:#494949;
}
#svgStackedBars{
    /*background:yellow;*/
    float:left;
}


#svgMap{
    /*background:blue;*/
    float:left;
}

#svgLines{
    /*background:red;*/
    float:left;

}


line.guide {
  stroke: #e5e5e5;
  stroke-dasharray: 2, 1;
}

line.guide-light {
  stroke: #e5e5e5;
  stroke-dasharray: 2, 1;
}

line.ruler {
  stroke: #AAA;
  stroke-dasharray: 1,1,3,1;
}

text.ruler-label {
  fill: #AAA;
  font-size: 12px;
  stroke: none;
  font-family: "source-code-pro", monospace;
}
#ticks {
  position: relative;
  margin-top: 25px;
  width: 100%;
  height: 30px;
  border: 1px dotted #AAA;
  border-bottom-width: 0;
}

.ticks {
  position: absolute;
  bottom: 0px;
}

circle.earth {
  fill: #1e5bc3;
  stroke:white;
  stroke-width: 0px;
}

.on{
  display: block;
}

.voronoi {
  fill: transparent;
  stroke-width: 1px;
  stroke: none;
}



.popover {
  position: absolute;
  pointer-events: none;
  font-size: 12px;
  z-index:101011101;
  padding: 10px;
  display: none;
  background-color: white;
  color: #111;
  box-shadow: #333 1px 1px 7px;
  border-radius: 2px;
}


.x.axis text{
  fill: #AAA;
  font-size: 12px;
  stroke: none;
  font-family: "source-code-pro", monospace;
}

.x.axis line{
  stroke: #AAA;
}

.x.axis path{
  stroke: #AAA;
}

.x2.axis line{
  stroke: #e5e5e5;
}

.x2.axis path{
  stroke: #AAA;
}

.y.axis text{
  fill: #AAA;
  font-size: 12px;
  stroke: none;
  font-family: "source-code-pro", monospace;
}

.y.axis line{
  stroke: #e5e5e5;
}

.y.axis path{
  stroke: #AAA;
}
